@model Dictionary<string, List<MVC201612.Models.Misc.ControllerActionViewModel>>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>MVC Kursus</h1>
    <hr />

    @foreach (var item in Model)
    {
        <h2>@item.Key</h2>
        <ul>
            @foreach (var a in item.Value)
            {
                <li>@Html.ActionLink(a.ActionName, a.ActionName, a.ControllerName)</li>
            }
        </ul>
    }
</body>
</html>
